*{
    margin: 0;
    font-family: lato;
    color: white;
    
}

.navbar{
    height: 80px;
    background-color: aliceblue;
    color: black;
    display: flex;
}

.nav-logo{
    height: 80px;
    width: 100px;
    padding-top: 22px;
    padding-left: 20px;
}

.logo{
    background-image: url('autohub2.png');
    height: 30px;
    width: 180px;
    
    background-size: cover;
}

/**Alto k10 text**/
.head-text{
  margin-top: 30px;
  padding-left: 250px;
  font-family: lato;
  color: white;
  height: 50px;
}

.head-para{
  padding-left: 250px;
  padding-right: 250px;
  margin-bottom: 300px;
  font-family: lato;
  color: white;
  font-size: large;
  text-align: justify;
}

.silver-line {
  margin:20px 250px 20px 250px;
  width: 1020px;
  height: 1px; /* Adjust the height as needed */
  background-color: silver;
  
}
.carousel {
    width: 30%;
    margin: 20px 250px 0px 250px;
    position: relative;
  }
  
  .slides {
    display: flex;
    overflow: hidden;
  }
  
  .slides img {
    width: 100%;
    display: block;
  }
  
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
  }
  
  .prev-btn {
    left: 0;
  }
  
  .next-btn {
    right: 0;
  }

  

.container{
  margin-bottom: 100px;
  margin-top: -50px;
}

.video video{
    width: 100%;
}

.video{
    height: 100px;
}